@{
    ViewData["Title"] = "Home Page";
}
@*User Login*@
<div class="align-content-center row mt-3">
    <div class="m-auto align-content-sm-center col-4">
        <div class="card bg-secondary" >
            <div class="card-header">
                <h2 >User Login</h2>
            </div>
            <div class="card-body">
        <form >
            <div>
                        <label class="form-label">Email</label>
                <input class="form-control" type="email" />
            </div>
            <div>
                <label class="form-label  ">Password</label>
                        <input class="form-control" type="password" />
            </div>
            <div>
                <input type="submit" value="Login" class="btn-primary mt-3" />
            </div>
        </form>
            </div>
        </div>
    </div>
</div>

